/*Main dashboard*/
.initialForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding: 0 3.5rem;
  margin: 1rem 0;
}

/*TABLE view*/
.mainForm {
  /* width: 80vw; */
  height: 80vh;
  margin: 1rem auto;
  background-color: var(--dusty-blue-lighter);
  filter: drop-shadow(4px 4px 4px var(--dusty-blue-light));
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-start; */
  /* padding-left: 5rem; */
  overflow-x: hidden;
  overflow-y: scroll;
  /* overflow: scroll; */
}

/*Button*/
.btn {
  padding: 1rem 5rem;
  font-size: 0.9rem;
  font-weight: 400;
  background: var(--aqua);
  color: var(--white);
  cursor: pointer;
}

.btn:hover {
  transition: 0.2s all ease-in;
  background: var(--hover);
}

/*the grey area*/
.titleRow {
  background-color: var(--dusty-aqua-light);
  height: 3.5rem;
  text-align: center;
  font-size: 0.9rem;
}

/* .titleRow th {
  border-right: 1px solid var(--dusty-blue-lighter);
} */

.table {
  position: sticky;
  top: 0;
  width: 30%;
  background-color: var(--white);
  border-radius: 20px;
  border-collapse: separate;
  border-spacing: 0;
}

.table th {
  border-bottom: 1px solid var(--dusty-aqua);
  border-collapse: separate;
  border-spacing: 5px 5px;
}

/*Person details*/
.tableRow {
  border-bottom: 1px solid var(--dusty-blue-lighter);
  padding: 0.4rem 0.7rem;
  font-size: 0.889rem;
  line-height: 22px;
  text-align: left;
}

.userRow:hover {
  background-color: var(--dusty-aqua-light);
  transition: 0.2s all ease-in;
}
