/*Main dashboard*/
.initialForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding-left: 2rem;
  margin: 2rem 0;
}

/*TABLE view*/
.mainForm {
   width: 100vw; 
  height: 80vh;
  margin: 1rem auto;
  background-color: var(--white);
  /* filter: drop-shadow(4px 4px 4px var(--dusty-blue-light)); */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: scroll;
  overflow-y: scroll;
  /* overflow: scroll; */
}

/*maybe use this with JS to show hidden table? or TOGGLE?*/
.hidden {
  display: none;
}

/*Button*/
.btn {
  padding: 1rem 5rem;
  font-size: 0.9rem;
  font-weight: 400;
  background: var(--aqua);
  color: var(--white);
  cursor: pointer;
}

.btn:hover {
  transition: 0.2s all ease-in;
  background: var(--hover);
}

/*the grey area*/
.titleRow {
  background-color: var(--dusty-aqua-light);
  height: 3.5rem;
  text-align: center;
  font-size: 0.9rem;
  border-top-right-radius: 20px;
  opacity: 0;
}

.table tr {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  
}

.table tr {
  border-right: 1px solid var(--dusty-blue-lighter);
}

.table {
  position: sticky;
  top: 0;
  width: 90%;
  background-color: var(--white);
  border-radius: 20px;
  border-collapse: separate;
  border-spacing: 0;
  overflow-x: auto;
}

.table th {
  border-bottom: 1px solid var(--dusty-aqua);
  border-collapse: separate;
  border-spacing: 5px 5px;
}

/*Person details*/
.tableRow {
  border-bottom: 1px solid var(--dusty-blue-lighter);
  padding: 0.4rem 0.7rem;
  font-size: 0.889rem;
  line-height: 22px;
  text-align: left;
}

.userRow:hover {
  background-color: var(--dusty-aqua-light);
  transition: 0.1s all ease-in;
}

/*TESTING RESPONSIVE*/
@media screen and (max-width: 550px) {
  .initialForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0 0.2rem;
    gap: 0;
  }

  .btn {
    padding: 1rem 3rem;
  }

  /* .table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
  } */
  /* 
  .userRow {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: none;
    padding: 0;
    margin: 0;
  } */
}
