/* {
  background-color: var(--dusty-aqua-light);
} */

.bigDiv {
  width: 100vw;
  height: 90vh;
  /*here?*/
  background-image: url(../../assets/bgr1.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: normal;
  background-color: var(--dusty-blue-lighter);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thankYou {
  width: 50%;
  height: 50vh;
  background-color: var(--dusty-aqua-light);
  filter: drop-shadow(4px 4px 4px var(--dusty-blue-lighter));
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 0 auto;
}

/*SVG*/
.success {
  margin: 0 auto;
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

/*Paragraphs*/
.thankYou h2 {
  font-family: var(--font-serif);
  font-size: 3.052rem;
  margin: 0;
}

.thankYou h3 {
  font-weight: 400;
}

.thankYou ul {
  padding: 0;
}

.thankYou li {
  margin: 0;
  padding: 0.5rem 0rem;
}

/*Button*/
.btn {
  height: 3rem;
  padding: 1rem 3rem;
  margin: 1rem auto 0 auto;
  font-size: 0.889rem;
  border-radius: 25px;
  background-color: var(--aqua);
  color: var(--white);
  cursor: pointer;
}

.btn:hover {
  transition: 0.2s all ease-in;
  background: var(--hover);
}
